# Compilação Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Diretórios de build
/target/
/build/
/out/

# IDEs e editores
/.idea/
/.vscode/
/*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente virtual Python
venv/
.env/
.venv/

# Arquivos de dados
data/
